
<div class="container">
	 
    <main role="main">

          <div class="jumbotron">
            <h1 class="display-5">{{ 'reservationEditorPage.title' | translate }}</h1>
            <p class="lead">{{ 'reservationEditorPage.description' | translate }}</p>
          </div>

          <div class="row marketing">
              
              <table class="table table-striped table-bordered">
                <thead>
                  <tr>
                    <th scope="col">{{ 'reservationEditorPage.desknumber' | translate }}</th>
                    <th scope="col">{{ 'reservationEditorPage.time' | translate }}</th>
                    <th scope="col">{{ 'reservationEditorPage.fullname' | translate }}</th>
                    <th scope="col">{{ 'reservationEditorPage.email' | translate }}</th>
                    <th scope="col">{{ 'reservationEditorPage.phonenumber' | translate }}</th>
                    <th scope="col" colspan="2">{{ 'reservationEditorPage.actions' | translate }}</th>
                  </tr>
                </thead>
                <tbody>
                        <tr *ngFor="let reservation of reservationList$ | async; let i = index">
                        <th scope="row">{{reservation.deskNumber}}</th>
                        <td class="text-nowrap">
                            {{reservation.reservationAt | date:'yyyy-MM-dd HH:mm'}}
                        </td>
                        <td class="text-nowrap">{{reservation.lastname}} {{reservation.firstname}}</td>
                        <td class="text-nowrap">{{reservation.email}}</td>
                        <td class="text-nowrap">{{reservation.telephone}}</td>
                        <td>
                            <a class="btn btn-primary" routerLink="/deskreservation-editor" [queryParams]="{ id:reservation.id , desknumber: reservation.deskNumber, editor: true }" queryParamsHandling="merge" routerLinkActive="active" role="button" title="{{ 'reservationEditorPage.editorButtonLabel' | translate }}">{{ 'reservationEditorPage.editorButton' | translate }}</a>
                        </td>
                        <td>
                            <button class="btn btn-danger" (click)="deleteReservation(reservation, confirmModalTemplate)" role="button" title="{{ 'reservationEditorPage.deleteButtonLabel' | translate }}">{{ 'reservationEditorPage.deleteButton' | translate }}</button>
                        </td>
                        </tr>  
                </tbody>
              </table>
          </div>
      
    </main>

  </div> <!-- /container -->

  <ng-template #confirmModalTemplate>
    <div class="modal-body text-center">
      <p>{{ 'reservationEditorPage.deleteConfirmation' | translate }}</p>
      <button type="button" class="btn btn-primary" (click)="confirm()" >{{ 'reservationEditorPage.deleteYes' | translate }}</button>
      &nbsp;
      <button type="button" class="btn btn-danger" (click)="decline()" >{{ 'reservationEditorPage.deleteNo' | translate }}</button>
    </div>
  </ng-template>
