# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/project-sources/frontend/angular-gui/dist
/project-sources/frontend/angular-gui/node_modules
/project-sources/api-server/src/main/webapp/web-gui/angular-gui
/project-sources/api-server/target/
/project-sources/api-server/bin/

# Helm temp folder
/helm/tmp

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
.c9/
*.launch
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*
.vs
.vs/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

# Ignore ps1 and bat files which sets JAVA_HOME
# These are developer environment specific files, so should not be added to the repo
set-java8.bat
set-java8.ps1

# Other files
myconfidental.txt
myconfidental.md
