
 <div align="center" class="jumbotron">
        <h1 class="display-5">{{ 'homePage.title' | translate }}</h1>
        <div class="lead">
            <br>
            <h5>{{ 'homePage.guide.part1' | translate }}:</h5>
            <ul class="text-left">
            <li>{{ 'homePage.guide.part2' | translate }}</li>
            <li>{{ 'homePage.guide.part3' | translate }}</li>
            <li>{{ 'homePage.guide.part4' | translate }}</li>
            </ul>
            <br>
        </div>
        <p>
            <a class="btn btn-lg btn-success" routerLink="/deskreservation" routerLinkActive="active" role="button">{{ 'homePage.button' | translate }}</a>
        </p>
</div>
