
 <div align="center" class="jumbotron">
        <h1 class="display-5">Asztalfoglalás</h1>
        <div class="lead">
            <br>
            <h5>Útmutató az online foglaláshoz:</h5>
            <ul class="text-left">
            <li>Kattints az ASZTALFOGLALÁS gombra.</li>
            <li>Az asztal számát keresd meg a listában, és kattints a SZABAD gombra. Amennyiben már foglalt, keress másikat.</li>
            <li>A megjelenő oldalon töltsd ki az adataidat, és a feltételek elfogadása után kattints a FOGLALÁS gombra.</li>
            </ul>
            <br>
        </div>
        <p>
            <a class="btn btn-lg btn-success" routerLink="/deskreservation" routerLinkActive="active" role="button">Asztalfoglalás</a>
        </p>
</div>
