
<div align="center">
    <div align="center" class="jumbotron">

        <h1 class="display-5">{{ 'reservationPage.title' | translate }}</h1>

        <div class="lead">
            
            <div class="text-justify">
            <br>
            {{ 'reservationPage.text1' | translate }}
            </div>
            
            <br>
            <!--
            <a class="btn btn-success" href="tervrajz.png" target="_blank" role="button" title="Kattints ide a tervrajz megjelenítéséhez!">Tervrajz megjelenítése</a>
            <br><br>
            -->
            
            {{ 'reservationPage.allDesks' | translate }}: {{numberOfAllDesks$| async}} {{ 'reservationPage.pieces' | translate }}
            <br>
            {{ 'reservationPage.reservedDesks' | translate }}: {{numberOfReservedDesks$| async}} {{ 'reservationPage.pieces' | translate }}
            <br>
            {{ 'reservationPage.freeDesks' | translate }}: {{numberOfFreeDesks$| async}} {{ 'reservationPage.pieces' | translate }}

        </div>
    </div>

    <div class="row">

            <div *ngFor="let reservation of (reservationInfo$ | async).reservationList; let i = index" class="col-sm-6">
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th scope="col">{{ 'reservationPage.desknumber' | translate }}</th>
                        <th scope="col">{{ 'reservationPage.status' | translate }}</th>
                    </tr>
                    </thead>

                    <tbody>

                        <tr>
                            <th scope="row">{{i+1}}</th>
                            <td *ngIf="reservation > 0">
                                <button type="button" class="btn btn-danger reservationListButton">{{ 'reservationPage.reservedButton' | translate }}</button>
                            </td>
                            <td *ngIf="reservation == 0">
                                <a class="btn btn-success reservationListButton" routerLink="/deskreservation-form" [queryParams]="{ desknumber: i+1 }" queryParamsHandling="merge" routerLinkActive="active" role="button" title="{{ 'reservationPage.freeButtonHint' | translate }}">
                                    {{ 'reservationPage.freeButton' | translate }}
                                </a>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>

    </div>

</div>
