/* You can add global styles to this file, and also import other style files */


/* import the Bootstrap SCSS */
@import "../node_modules/bootstrap/scss/bootstrap";


/* Navigation link styles */
nav a {
    padding: 5px 10px;
    text-decoration: none;
    margin-top: 10px;
    margin-right: 5px;
    display: inline-block;
    background-color: #eee;
    border-radius: 4px;
  }
  
  nav a:visited {
    color: #607D8B;
  }
  
  nav a:hover {
    color: #039be5;
    background-color: #CFD8DC;
  }
  
  nav a.active {
    color: #039be5;
  }
  
  .cursor-pointer {
    cursor: pointer;
  }
  .cursor-croshair {
    cursor: crosshair;
  }
  .cursor-eresize {
    cursor: e-resize;
  }
  .cursor-move {
    cursor: move;
  }
