
<div align="center">

    <h2 class="display-5">{{message}}</h2>
    <br>

    <form #loginForm="ngForm">
        <div *ngIf="!isLoggedin()" class="form-row">
            <div class="form-group col-md-6">
                <label for="username">Felhasználónév</label>
                <input type="text" class="form-control" id="username" name="username"
                    placeholder="Felhasználónév"
                    required
                    [(ngModel)]="username">
            </div>
            
            <div class="form-group col-md-6">
                <label for="password">Jelszó</label>
                <input type="password" class="form-control" id="password" name="password"
                    placeholder="Jelszó"
                    required
                    [(ngModel)]="password">
            </div>
        </div>
    </form>

    <p>
    <button class="btn btn-primary" (click)="login()"  *ngIf="!isLoggedin()" [disabled]="!loginForm.form.valid">Bejelentkezés</button>
    <button class="btn btn-primary" (click)="logout()" *ngIf="isLoggedin()">Kijelentkezés</button>
    </p>



</div>
