
<div align="center">

    <h2 class="display-5">{{message}}</h2>
    <br>

    <form #loginForm="ngForm">
        <div *ngIf="!isLoggedin()" class="form-row">
            <div class="form-group col-md-6">
                <label for="username">{{ 'loginPage.username' | translate }}</label>
                <input type="text" class="form-control" id="username" name="username"
                    placeholder="{{ 'loginPage.username' | translate }}"
                    required
                    [(ngModel)]="username">
            </div>
            
            <div class="form-group col-md-6">
                <label for="password">{{ 'loginPage.password' | translate }}</label>
                <input type="password" class="form-control" id="password" name="password"
                    placeholder="{{ 'loginPage.password' | translate }}"
                    required
                    [(ngModel)]="password">
            </div>
        </div>
    </form>

    <p>
    <button class="btn btn-primary" (click)="login()"  *ngIf="!isLoggedin()" [disabled]="!loginForm.form.valid">{{ 'loginPage.loginbutton' | translate }}</button>
    <button class="btn btn-primary" (click)="logout()" *ngIf="isLoggedin()">{{ 'loginPage.logoutbutton' | translate }}</button>
    </p>



</div>
